<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutoriel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="./assets/icon/full.png" id="img-slide1"/>
        <h1>Bienvenue</h1>
        <p>Voici un tutoriel pour la prise en main de l'application <em>Le petit Prince</em></p>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>L'accueil</h1>
      
    </ion-slide>
    <ion-slide>
      <h1>Les articles</h1>
      
    </ion-slide>
    <ion-slide>
      <h1>La gallerie</h1>
      
    </ion-slide>
    <ion-slide>
      <ion-button (click)="this.begin()" color="secondary" expand="block">Commencer !</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
