<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutoriel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="./assets/icon/full.png" id="img-slide1"/>
        <h1>Bienvenue</h1>
        <p>Voici un tutoriel pour la prise en main de l'application <em>Le petit Prince</em></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Accueil</h1>
        <p>Consultez les <strong>dates importantes</strong></p>
        <img src="./assets/tuto/tuto-dates.png" class="img-tuto"/>
        <p>Retrouvez les <strong>infos de contact</strong></p>
        <img src="./assets/tuto/tuto-contact.png" class="img-tuto"/>
        <p>Reposez vos yeux avec le <strong>mode sombre</strong></p>
        <img src="./assets/tuto/tuto-darkmode.png" class="img-tuto"/>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Les articles</h1>
        <p>Consultez les <strong>articles</strong> de l'école que vous pouvez ajouter aux <strong>favoris</strong></p>
        <img src="./assets/tuto/tuto-article.png" class="img-tuto" id="img-article"/>
        <p>Affichez uniquement vos articles <strong>favoris</strong></p>
        <img src="./assets/tuto/tuto-favoris.png" class="img-tuto"/>
        <p><strong>Recherchez</strong> des articles</p>
        <img src="./assets/tuto/tuto-recherche.png" class="img-tuto"/>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Les galeries</h1>
        <p>Consultez les <strong>galeries</strong> de l'école</p>
        <img src="./assets/tuto/tuto-galerie.png" class="img-tuto"/>
        <p>Affichez une image en grand</p>
        <img src="./assets/tuto/tuto-imggalerie.png" class="img-tuto"/>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-button (click)="this.begin()" color="secondary" expand="block">Commencer !</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
