<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galeries d'images
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides pager="true" [options]="slideOpts" *ngIf="datas">
    <ion-slide *ngFor="let galerie of datas.galeries">
      <h1>{{galerie.titre}}</h1>
      <div class='collection'>
        <div class="collection-item" *ngFor="let photo of galerie.photos">
          <img  (click)="zoom(photo.image)" *ngIf="photo.image!=undefined" src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{photo.image}}" />
          <ion-label>{{photo.legende}}</ion-label>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
