<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="datas" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar placeholder="Rechercher un article" animated></ion-searchbar>
  <ion-card *ngFor="let article of datas.articles">
    <div class="img-container"><img *ngIf="article.photos[0]!=undefined" src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{article.photos[0].image}}" /></div>
    <ion-card-header>
      <ion-card-subtitle>{{article.categorie}}</ion-card-subtitle>
      <ion-card-title>{{article.titre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{article.texte}}<br/>
      <p class="p-favoris">Ajouter aux favoris</p>
      <ion-toggle></ion-toggle>
    </ion-card-content>
  </ion-card>
</ion-content>
