<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="datas" [fullscreen]="true">

  <ion-card *ngFor="let article of datas.articles">
    <img *ngIf="article.photos[0]!=undefined" src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{article.photos[0].image}}" />
    <ion-card-header>
      <ion-card-subtitle>{{article.categorie}}</ion-card-subtitle>
      <ion-card-title>{{article.titre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{article.texte}}
    </ion-card-content>
  </ion-card>
  <br><br><br><br><br><br><br><br><br>
</ion-content>
