<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="datas" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="update(true)" color="favs">
      <ion-icon *ngIf="!this.fav" name="star-outline"></ion-icon>
      <ion-icon *ngIf="this.fav" name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-searchbar id="search_articles" placeholder="Rechercher un article" (ionInput)="filterList($event)" animated></ion-searchbar>
  <span *ngFor="let article of datas.articles">
    <ion-card *ngIf="this.canBeDisplay(article)">
      <div class="img-container"><img *ngIf="article.photos[0]!=undefined" src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{article.photos[0].image}}" /></div>
      <ion-card-header>
        <ion-card-subtitle>{{article.categorie}}</ion-card-subtitle>
        <ion-card-title>{{article.titre}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{article.texte}}<br/>
        <p class="p-favoris">Ajouter aux favoris</p>
        <ion-toggle *ngIf="this.isInFavs(article)" checked=true (ngModel)='this.isInFavs(article)' (click)="this.add_tofavs(article)"></ion-toggle>
        <ion-toggle *ngIf="!this.isInFavs(article)" checked=false (ngModel)='this.isInFavs(article)' (click)="this.add_tofavs(article)"></ion-toggle>
      </ion-card-content>
    </ion-card>
  </span>
</ion-content>
