<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list *ngIf="datas">
      <ion-list-header>
        <ion-label>Bienvenue</ion-label>
      </ion-list-header>
      <img id="main-img" src="../../assets/icon/full.png" width="150"/>
      <ion-item>
          <p>Bonjour et bienvenue dans l'application du petit Prince.</p>
      </ion-item>
      <ion-list-header>
        <ion-label>Dates importantes</ion-label>
      </ion-list-header>
        <ion-item *ngFor="let date of datas.dates.reverse()">
            <ion-label>
              <h2>{{toDate(date.date)}}</h2>
              <h3>{{date.titre}}</h3>
              <p>Classe {{date.classe}}</p>
              <p>{{date.texte}}</p>
             </ion-label>
        </ion-item>
    </ion-list>
    
    <ion-title> Contact </ion-title>
  <p>École le Petit Prince<br>
    1, rue des écoles<br>
    13000 Saint Exupéry<br>
    Tél : 0412345678<br>
    Mail : contact@lepetitprince.fr</p>
</ion-content>